
h1 {
    font-family: 'Calibri';
    color: green;
}


body {
    background-color: coral;
    font-family: 'Calibri';
    font-size: 100%;
    width: 600px;
    min-width: 480px;
}

.h3 {
    font-family: Arial, Helvetica, sans-serif;
  }
